@model MVCCore.DatabaseFirstModel.ListadoCarreras

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListadoCarreras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionEstimadaAnios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionEstimadaAnios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facultad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facultad.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ListadoCarrerasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
