@model IEnumerable<MVCCore.DatabaseFirstModel.ListadoCarreras>

@{
    ViewData["Title"] = "Listado de Carreras";
}

<h1>Listado de Carreras</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListadoCarrerasId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracionEstimadaAnios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facultad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListadoCarrerasId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracionEstimadaAnios) años
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facultad.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListadoCarrerasId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ListadoCarrerasId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ListadoCarrerasId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
