@model MVCCore.DatabaseFirstModel.Nota

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerParcial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerParcial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerRecuperatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerRecuperatorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoParcial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoParcial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegundoRecuperatorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegundoRecuperatorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asignatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asignatura.Dias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NotasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
