@model IEnumerable<MVCCore.DatabaseFirstModel.Notas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NotasId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerParcial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimerRecuperatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoParcial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoRecuperatorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NotasId)
            </td>
            <td>
                @using (var context = new MVCCore.DatabaseFirstModel.AlumnosContext())
                {
                    var notas = context.ListadoAsignaturas.Find(item.AsignaturaId).Nombre;
                    @Html.DisplayFor(modelItem => notas)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerParcial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimerRecuperatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoParcial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SegundoRecuperatorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotasId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.NotasId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.NotasId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
