@model MVCCore.DatabaseFirstModel.Asignaturas

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Asignaturas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsignaturaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsignaturaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioEntrada)
        </dt>
        <dd class="col-sm-10">
            @{
                string horarioEntradaCortado = Model.HorarioEntrada.ToString().Remove(5);
                @Html.DisplayFor(modelItem => horarioEntradaCortado)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioSalida)
        </dt>
        <dd class="col-sm-10">
            @{
                string horarioSalidaCortado = Model.HorarioSalida.ToString().Remove(5);
                @Html.DisplayFor(modelItem => horarioSalidaCortado)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alumno)
        </dt>
        <dd class="col-sm-10">
            @using (var context = new MVCCore.DatabaseFirstModel.AlumnosContext())
            {
                var carrera = context.ListadoCarreras.Find(Model.Carrera.ListadoCarrerasId).Nombre;
                @Html.DisplayFor(modelItem => carrera)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class="col-sm-10">
            @using (var context = new MVCCore.DatabaseFirstModel.AlumnosContext())
            {
                var carrera = context.ListadoCarreras.Find(Model.Carrera.ListadoCarrerasId).Nombre;
                @Html.DisplayFor(modelItem => carrera)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListadoAsignaturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListadoAsignaturas.Nombre)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ListadoAsignaturasId, alumnoID = Model.AlumnoId }) |
    <a asp-action="Index">Volver al listado</a>
</div>
