@model IEnumerable<MVCCore.DatabaseFirstModel.Asignaturas>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AsignaturaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListadoAsignaturas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AsignaturaId)
            </td>
            <td>
                @{ string nombreCompleto = $"{item.Alumno.Nombre} {item.Alumno.Apellido}";}
                @Html.DisplayFor(modelItem => nombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListadoAsignaturas.Nombre)
            </td>
            <td>
                @using (var context = new MVCCore.DatabaseFirstModel.AlumnosContext())
                {
                    var carrera = context.ListadoCarreras.Find(item.Carrera.ListadoCarrerasId).Nombre;
                    @Html.DisplayFor(modelItem => carrera)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comision)
            </td>
            <td>
                @{
                    string horarioEntradaCortado = item.HorarioEntrada.ToString().Remove(5);
                    @Html.DisplayFor(modelItem => horarioEntradaCortado)
                }
            </td>
            <td>
                @{
                    string horarioSalidaCortado = item.HorarioSalida.ToString().Remove(5);
                    @Html.DisplayFor(modelItem => horarioSalidaCortado)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dias)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AsignaturaId, listadoAsignaturasId = item.ListadoAsignaturasId, alumnoID = item.AlumnoId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.AsignaturaId, alumnoID = item.AlumnoId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.AsignaturaId, alumnoID = item.AlumnoId })
            </td>
        </tr>
}
    </tbody>
</table>
