@model MVCCore.DatabaseFirstModel.ListadoAsignaturas

@{
    ViewData["Title"] = "Borrar un registro del listado de asignaturas";
}

<h1>Borrar</h1>

<h3>Esta seguro de que quiere borrar esto?</h3>
<div>
    <h4>Listado de Asignaturas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListadoAsignaturasId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListadoAsignaturasId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creditos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correlativas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correlativas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListadoCarreras)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListadoCarreras.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ListadoAsignaturasId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
