@model MVCCore.DatabaseFirstModel.ListadoAsignaturas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ListadoAsignaturas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correlativas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correlativas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListadoCarreras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListadoCarreras.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ListadoAsignaturasId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
