@model IEnumerable<MVCCore.DatabaseFirstModel.Alumnos>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Alumnos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlumnoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlumnoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @{
                    string edad = $"{item.Edad} años";
                    @Html.DisplayFor(modelItem => edad)
                }
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlumnoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlumnoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.AlumnoId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
