@model IEnumerable<MVCCore.DatabaseFirstModel.Carreras>

@{
    ViewData["Title"] = "Carreras";
}

<h1>Carreras</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarreraId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListadoCarreras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarreraId)
            </td>
            <td>
                @{
                    string nombreCompleto = $"{item.Alumno.Nombre} {item.Alumno.Apellido}";
                    @Html.DisplayFor(modelItem => nombreCompleto)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListadoCarreras.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.AlumnoId, ListadoCarrerasId = item.ListadoCarrerasId }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.AlumnoId, ListadoCarrerasId = item.ListadoCarrerasId }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.AlumnoId, ListadoCarrerasId = item.ListadoCarrerasId })
            </td>
        </tr>
}
    </tbody>
</table>
